.top__bar {
    background-color: rgb(14, 14, 14);
    height: 8vh;
}


.top__bar-ul {
    list-style: none;
    display: flex;
    align-items: center;
    float: right;
}

.top__bar-li {
    padding: 20px;
}

li a {
    color: #B3B3B3;
    text-decoration: none;
    font-weight: 800;
}

li a:hover {
    color: #fff;
}

.signIn {
    color: #B3B3B3;
    background: transparent;
    border: none;
}

.logIn {
    position: relative;
    background-color: #fff;
    color: #000;
    border-radius: 500px;
    font-size: inherit;
    padding-block: 12px;
    padding-inline: 32px;
    font-weight: 600;
    border: none;
}

.logout {
    background-color: #fff;
    color: #000;
    font-size: inherit;
    padding-block: 12px;
    padding-inline: 32px;
    border-radius: 500px;
    font-weight: 600;
    border: none
}

ion-icon {
    margin-right: 10px;
    font-size: 25px;

}